* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: Pitch Sans, sans-serif;
}

body {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);   
}

/* General Website Structure START */
.nav-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.hero-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65vh;
}

.slogan-section {
    display: flex;
    justify-content: center;
    margin: 0 10%;
    width: 80%;
    height: 10vh;
}

.button-section {
    display: flex;
    justify-content: center;
    margin: 0 12%;
    width: 80%;
    height: 10vh;
}

.site-desc-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10%;
    width: 80%;
    height: 40vh;
}

.scrolling-text-section {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 5vh;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.featured-art-section {
    width: 100%;
    height: 180vh;
    justify-content: center;
}

.big-featured-art-section {
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 200vh;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

/* General Website Structure END */

/* Navigation Bar Section START */
.nav-logo img {
    margin-left: 100%;
    height: 4em; 
    border-radius: 10%;
}

.nav-links {
    margin-left: 40%;
    margin-right: 5%;
}

.nav-links a {
    text-decoration: none;
    margin: 0 15px;
    color: #fff;
}

.nav-button {
    display: inline-block;
    padding: 0.5em 1.4em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
}
      
.nav-button:hover {
    color: #ffdb00;
    background-color: transparent;
    border: 1px solid #ffdb00;
    box-shadow: none;
}

/* Navigation Bar Section END */


/* Hero Gif Section START */
.hero-gif {
    flex-direction: column;
    text-align: center;
    padding: 0.4%;
    border-radius: 8%;
}

.text-over-gif {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: black;
    background: none;
    font-size: 5em;
}

.text-over-gif h2 {
    background: none;
}

/* Hero Gif Section END */


/* Slogan Section START */
.header {
    margin-top: 2%;
    text-align: center;
    font-size: 3.5em;
}
/* Slogan Section END */


/* Button Section START */
.buttons {
    display: flex;
    margin-top: 1%;
}

.button {
    display: inline-block;
    height: 80px;
    line-height: 50px;
    padding: 10px 60px;
    margin: 0 5px;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
}
          
.button:hover {
    color: #ffdb00;
    background-color: transparent;
    border: 1px solid #ffdb00;
    box-shadow: none;
}


/* Button Section END */



/* Site Description Section START */
.p-text {
    text-align: center;
    font-size: 1.8em;
    line-height: 1,5;
}
/* Site Description Section END */


/* Scrolling Text A Section START */
/* Apply styles to the container */
.scrolling-text-section {
    margin-top: 2%;
    overflow: hidden; 
    white-space: nowrap;  
    font-size: 18px; 
    font-weight: bold; 
    letter-spacing: 2px;
    margin-bottom: 2%;
}

/* Scrolling Text A Section END */

/* Featured Art Section START */
.featured-art-section-images {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.fa-column-1 {
    display: flex;
    flex-direction: column;
    margin: 0 20px; /* Adjust margin between columns */
    align-items: center;
}

.fa-column-2 {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.fa-column-1 img {
    width: 100%; 
    height: auto;
    margin-bottom: 40px;
    margin-top: 25px;
}

.fa-column-2 img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 20px;
    margin-top: 5px;
}

.image-with-text {
    position: relative;
    margin-bottom: 20px; 
}

.image-with-text img {
    width: 100%;
    height: auto;
    opacity: 0.90;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s ease;
}

.image-text h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.5em; 
}

.image-text p {
    margin-top: 0;
    font-size: 0.8em; 
}


/* Featured Art Section END */


/* Big Featured Art Section START */

.big-featured-art-section .art-box {
    width: 550px;
    transition: transform 0.3s;
    position: relative;
    margin-bottom: 10%; /* Adds space between the art boxes */
    text-align: center;
}

.big-featured-art-section .art-box:hover {
    transform: scale(1.25);
}

.big-featured-art-section .art-box img {
    width: 100%;
    display: block;
    border-radius: 10px;
    transition: opacity 0.3s, transform 0.3s; 
}

.big-featured-art-section .art-box:hover img {
    opacity: 0.9;
    transform: translate(-25px, -25px); 
}

.big-featured-art-section .art-box .info {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.big-featured-art-section .art-box:hover .info {
    display: block;
}

.learn-more-btn {
    display: inline-block;
    padding: 0.5em 1.7em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
}

.learn-more-btn:hover {
    color: #ffffff;
    border: 1px solid #ffdb00;
}

.info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}

.art-box:hover .info {
    opacity: 1;
    transform: translateX(-54.5%) translateY(-0%);
}

.info p {
    margin-bottom: 1%;
}

.mobile-text {
    display: none;
}

/* Big Featured Art Section END */

/* Footer Section START */
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.footer-heading {
    font-size: 8em; 
    margin-bottom: 2%; 
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icons img {
    width: 50px; 
    margin: 5px; 
    transition: transform 0.3s ease, filter 0.3s ease;
}

/* Hover effect for Twitter icon */
.social-icon img:hover {
    transform: scale(1.2);
}

.footer-text {
    font-size: 1em; 
    color: #fff; 
}

.footer-text p {
    margin-bottom: 1%;
}

/* Footer Section END */

/* Index.html END */


/* classical-art.html START */

/* Classical Art Hero Section */

.classical-art-hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    height: 100vh;
    /* Add necessary styles for height, background, etc. */
}

.hero-image img {
    max-width: 100%; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px;
}

.hero-text {
    margin-top: 10%;
    margin-right: 8%;
    margin-bottom: 12%;
    max-width: 45%; /* Adjust text width as needed */
}

.hero-text h1 {
    font-size: 4em;
    margin-bottom: 10%;
    font-style: oblique;
    font-family: 'Segoe UI', sans-serif;
}

.hero-text p {
    font-size: 1.2em;
    margin-bottom: 4%;
    font-style: oblique;
    font-family: 'Segoe UI', sans-serif;
}

.hero-text span {
    color: #ffdb00;
}

.artists-section {
    margin: 0 5%;
    height: 50vh;
    margin-bottom: 20%;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.image-wrapper img {
    max-width: 390px;
    max-height: 300px;
    padding: 0.5%;
    border-radius: 3%;
}

.hover-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.image-wrapper:hover .hover-text {
    opacity: 1;
}


/* Artists Section */
.artist-description-section-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30% 0 0;
    height: 50vh;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-top: 15%;
}

.artist-description-section-left .artist-description {
    display: flex;
    /* Other necessary styles */
}

.artist-description-section-left .artist-description-image img {
    max-width: 90%; /* Adjust image width */
    height: 80%; /* Maintain aspect ratio */
    border-radius: 15px;
}

.artist-description-section-left .artist-description-text {
    max-width: 45%; /* Adjust text width */
}

.artist-description-section-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 0 30%;
    height: 50vh;
    /* Other necessary styles */
    margin-bottom: 5%;
    margin-right: 5%;
    margin-top: 15%;
}

.artist-description-section-right .artist-description {
    display: flex;
    /* Other necessary styles */
}

.artist-description-section-right .artist-description-image img {
    max-width: 90%; /* Adjust image width */
    height: 80%; /* Maintain aspect ratio */
    border-radius: 15px;
}

.artist-description-section-right .artist-description-text {
    max-width: 45%; /* Adjust text width */
}

.artist-description-text {
    margin: 10%;
}


/* classical-art.html END */

/* art-highlights.html START */

.AH-heading {
    color: #fff; /* Text color */
    font-size: 1.2em; /* Adjust font size */
    text-align: center; /* Center the text */
    padding: 10px; /* Add padding for readability */
    border-radius: 5px; /* Rounded corners */
    text-shadow: 1px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 3%;
}
  
/* Create four equal columns that sits next to each other */
.column {
    flex: 20%;
    max-width: 35%;
    padding: 0 4px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

figcaption {
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    margin-top: 10px;
    color: #fff; /* Adjust the color to complement your design */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    font-family: 'Arial', sans-serif; /* Change font-family if needed */
    opacity: 0.8; /* Adjust opacity for subtlety */
    transition: opacity 0.3s ease; /* Optional: for hover effects */
}

figcaption:hover {
    opacity: 1; /* Optional: Increase opacity on hover */
}

/* art-highlights.html END */



/* Media Queries for Responsiveness Index.html START */

/* For screens 320px */
@media screen and (max-width: 320px) {
    .nav-section {
       margin-left: 4%;
    }

    .nav-logo {
        width: 1%;
    }

    .nav-links {
        display: none;
        visibility: hidden;
    }

    .hero-section {
        background-size: cover;
        height: 200px;
    }

    .hero-section .hero-gif:not(:first-of-type) {
        display: none;
    }

    .text-over-gif {
        font-size: 1em;
    }

    .slogan-section {
        font-size: 0.35em;
    }

    .button-section {
        display: none;
  
    }

    .site-desc-section {
        display: none;
    }

    .scrolling-text-section {
        display: none;
    }

    .featured-art-section {
        display: none;
    }

    .big-featured-art-section {
        margin-top: -160% !important;
    }

    .big-featured-art-section img:nth-child(1) {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        height: auto;
        display: block;
    }

    .big-featured-art-section img:nth-child(2) {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%; 
        height: auto;
        display: block;
    }

    .big-featured-art-section p {
        font-size: 0.35em;
        align-content: center;
    }

    .big-featured-art-section br {
        font-size: 0.35em;
        align-content: center;
    }

    .mobile-text {
        display: block; /* Display the text for mobile */
        font-size: 13px !important;
    }
  
    .footer {
        margin-top: -100% !important;
        font-size: 0.55em;
    }
}

/* For screens 321px - 767px */
@media screen and (min-width: 321px) and (max-width: 767px) {
    .nav-section {
       margin-left: 4%;
    }

    .nav-logo {
        width: 1%;
    }

    .nav-links {
        display: none;
        visibility: hidden;
    }

    .hero-section {
        background-size: cover;
        height: 200px;
    }

    .hero-section .hero-gif:not(:first-of-type) {
        display: none;
    }

    .text-over-gif {
        font-size: 1em;
    }

    .slogan-section {
        font-size: 0.35em;
    }

    .button-section {
        display: none;
  
    }

    .site-desc-section {
        display: none;
    }

    .scrolling-text-section {
        display: none;
    }

    .featured-art-section {
        display: none;
    }

    .big-featured-art-section {
        margin-top: -120% !important;
    }

    .big-featured-art-section img:nth-child(1) {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        height: auto;
        display: block;
    }

    .big-featured-art-section img:nth-child(2) {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%; 
        height: auto;
        display: block;
    }

    .big-featured-art-section p {
        font-size: 0.35em;
        align-content: center;
    }

    .big-featured-art-section br {
        font-size: 0.35em;
        align-content: center;
    }

    .mobile-text {
        display: block; /* Display the text for mobile */
        font-size: 14px !important;
    }
  
    .footer {
        margin-top: -80% !important;
        font-size: 0.55em;
    }
}

/* For screens 768px - 768px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .nav-section {
       margin-left: 28%;
    }

    .nav-logo {
        width: 1%;
    }

    .nav-links {
        display: none;
        visibility: hidden;
    }

    .hero-section {
        background-size: cover;
        height: 200px;
    }

    .hero-section .hero-gif:not(:first-of-type) {
        display: none;
    }

    .text-over-gif {
        font-size: 1em;
    }

    .slogan-section {
        font-size: 0.35em;
    }

    .button-section {
        display: none;
  
    }

    .site-desc-section {
        display: none;
    }

    .scrolling-text-section {
        display: none;
    }

    .featured-art-section {
        display: none;
    }

    .big-featured-art-section {
        margin-top: -60% !important;
    }

    .big-featured-art-section img:nth-child(1) {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        height: auto;
        display: block;
    }

    .big-featured-art-section img:nth-child(2) {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%; 
        height: auto;
        display: block;
    }

    .big-featured-art-section p {
        font-size: 0.35em;
        align-content: center;
    }

    .big-featured-art-section br {
        font-size: 0.35em;
        align-content: center;
    }

    .mobile-text {
        display: block; /* Display the text for mobile */
        margin-top: 1%;
        font-size: 20px !important;
    }
  
    .footer {
        margin-top: -30% !important;
        font-size: 0.55em;
    }
}

/* For screens 1024px - 1024px */
@media screen and (min-width: 1024px) and (max-width: 1024px) {
    .nav-section {
       margin-left: 34%;
    }

    .nav-logo {
        width: 1%;
    }

    .nav-links {
        display: none;
        visibility: hidden;
    }

    .hero-section {
        background-size: cover;
        height: 200px;
    }

    .hero-section .hero-gif:not(:first-of-type) {
        display: none;
    }

    .text-over-gif {
        font-size: 1em;
    }

    .slogan-section {
        font-size: 0.35em;
    }

    .button-section {
        display: none;
  
    }

    .site-desc-section {
        display: none;
    }

    .scrolling-text-section {
        display: none;
    }

    .featured-art-section {
        display: none;
    }

    .big-featured-art-section {
        margin-top: -40% !important;
    }

    .big-featured-art-section img:nth-child(1) {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        height: auto;
        display: block;
    }

    .big-featured-art-section img:nth-child(2) {
        margin-left: auto;
        margin-right: auto;
        max-width: 50%; 
        height: auto;
        display: block;
    }

    .big-featured-art-section p {
        font-size: 0.35em;
        align-content: center;
    }

    .big-featured-art-section br {
        font-size: 0.35em;
        align-content: center;
    }

    .mobile-text {
        display: block; /* Display the text for mobile */
        margin-top: 1%;
        font-size: 20px !important;
    }
  
    .footer {
        margin-top: -15% !important;
        font-size: 0.55em;
    }
}

/* Media Queries for Responsiveness Index.html END */


/* Media Queries for Responsiveness Classical-art.html START */

/* For screens 320px */
@media screen and (max-width: 320px) {
    .nav-section {
       margin-left: 4%;
    }

    .nav-logo {
        width: 1%;
    }

    .nav-links {
        display: none;
        visibility: hidden;
    }

    .classical-art-hero-section {
        display: none;
    }

    .artists-section {
        display: none;
    }

    .artist-description-section-left {
        max-width: 55%;
        max-height: auto;
    }

    .artist-description-section-left p {
        display: none;
    }

    .artist-description-section-left h2 {
        font-size: 0.55em;
    }

    .artist-description-section-left small {
        font-size: 0.45em;
    }

    .artist-description-section-right {
        display: none;
    }

    .footer {
        margin-right: 60%;
        margin-top: 155% !important;
        font-size: 0.55em;
    }

    .footer img {
        max-width: 50%;
    }
}

/* Media Queries for Responsiveness Classical-art.html END */


/* Media Queries for Responsiveness art-hightlights.html START */


/* For screens 320px */
@media screen and (max-width: 320px) {
    .nav-section {
       margin-left: 4%;
    }

    .nav-logo {
        width: 1%;
    }

    .nav-links {
        display: none;
        visibility: hidden;
    }

    .AH-heading {
        font-size: 14px;
    }
    
    .column img {
        max-width: 100%;
        height: auto;
        margin-left: 70%;
    }

    .column figcaption {
        margin-left: 100% !important;
        display: block;
        text-align: center;
        font-size: 12px;
        max-width: 100%;
    }

    .column:nth-child(n+2):nth-child(-n+4) {
        display: none;
    }

    .footer {
        font-size: 0.55em;
    }
}


@media screen and (min-width: 600px) and (max-width: 768px) {
    .nav-section {
       margin-left: 32%;
    }

    .nav-logo {
        width: 3%;
    }

    .AH-heading {
        font-size: 16px;
    }
    
    .column img {
        max-width: 100%;
        height: auto;
        margin-left: 50%;
    }

    .column figcaption {
        margin-left: 50% !important;
        text-align: center;
        font-size: 14px;
    }

    .column:nth-child(n+2):nth-child(-n+4) {
        display: block;
    }

    .footer {
        margin-top: 10% !important;
        font-size: 0.75em;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .nav-section {
       margin-left: 8%;
    }

    .nav-logo {
        width: 5%;
    }

    .nav-links {
        display: block;
        visibility: visible;
    }

    .AH-heading {
        font-size: 18px;
    }
    
    .column img {
        max-width: 100%;
        height: auto;
        margin-left: 30%;
    }

    .column figcaption {
        margin-left: 30% !important;
        text-align: center;
        font-size: 16px;
    }

    .column:nth-child(n+2):nth-child(-n+4) {
        display: block;
    }

    .footer {
        font-size: 0.85em;
    }
}

@media screen and (min-width: 993px) {
    .nav-section {
       margin-left: 10%;
    }

    .nav-logo {
        width: 7%;
    }

    .nav-links {
        display: block;
        visibility: visible;
    }

    .AH-heading {
        font-size: 20px;
    }
    
    .column img {
        max-width: 100%;
        height: auto;
        margin-left: 20%;
    }

    .column figcaption {
        margin-left: 20% !important;
        text-align: center;
        font-size: 18px;
    }

    .column:nth-child(n+2):nth-child(-n+4) {
        display: block;
    }

    .footer {
        font-size: 1em;
    }
}

/* Media Queries for Responsiveness art-hightlights.html END */