* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: Pitch Sans, sans-serif;
}

body {
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);   
}

/* General Website Structure START */
.nav-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.hero-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65vh;
}

.slogan-section {
    display: flex;
    justify-content: center;
    margin: 0 10%;
    width: 80%;
    height: 10vh;
}

.button-section {
    display: flex;
    justify-content: center;
    margin: 0 12%;
    width: 80%;
    height: 10vh;
}

.site-desc-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 10%;
    width: 80%;
    height: 40vh;
}

.scrolling-text-section {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 5vh;
}

.featured-art-section {
    width: 100%;
    height: 180vh;
    justify-content: center;
}

.big-featured-art-section {
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 200vh;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

/* General Website Structure END */

/* Navigation Bar Section START */
.nav-logo img {
    margin-left: 100%;
    height: 4em; 
    border-radius: 10%;
}

.nav-links {
    margin-left: 40%;
    margin-right: 5%;
}

.nav-links a {
    text-decoration: none;
    margin: 0 15px;
    color: #fff;
}

.nav-button {
    display: inline-block;
    padding: 0.5em 1.4em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgb(255, 255, 255);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
    text-align: center;
    transition: all 0.2s;
}
      
.nav-button:hover {
    color: #ffdb00;
    background-color: transparent;
    border: 1px solid #ffdb00;
    box-shadow: none;
}

/* Navigation Bar Section END */


/* Hero Gif Section START */
.hero-gif {
    flex-direction: column;
    text-align: center;
    padding: 0.4%;
    border-radius: 8%;
}

.text-over-gif {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: black;
    background: none;
    font-size: 5em;
}

.text-over-gif h2 {
    background: none;
}

/* Hero Gif Section END */

